{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    <div class="snippet">
        <div class="metadata">
            <strong>{{.Snippet.Title}}</strong>
            <span>#{{.Snippet.ID}}</span>
        </div>
        <div>
            <pre><code>{{.Snippet.Content}}</code></pre>
        </div>
        <div class="metadata">
            <time>Created: {{humanDate .Snippet.CreatedAt}}</time>
            <time>Expires: {{humanDate .Snippet.ExpiresAt}}</time>
        </div>
    </div>
{{end}}